Xcursor*theme:		    Simple-and-Soft
URxvt*urgentOnBell:     true
URxvt*loginShell:	    true
URxvt*depth:		    32
!*.background:	    rgb:12/12/12
!*.foreground:       gray90
URxvt*colorBD:          #ffffff
URxvt*cursorColor:      #e0e080
URxvt*throughColor:     #8080f0
URxvt*highlightColor:   #f0f0f0
URxvt*scrollBar:       	off
URxvt*secondaryScroll:	true
URxvt*termName:	       	rxvt-256color
!URxvt.font: 		9x15
URxvt*geometry:         154x36
URxvt*saveLines:        8192
URxvt*fading:           50
URxvt*fadecolor:        black
URxvt*font:             xft:Bitstream Vera Sans Mono:size=10

URxvt*perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt*url-select.launcher:  firefox
URxvt*url-select.underline: true
URxvt*keysym.M-u:           perl:url-select:select_next
URxvt*keysym.M-Escape:      perl:keyboard-select:activate
URxvt*keysym.M-s:           perl:keyboard-select:search

! Fonts
!URxvt.font: -misc-tamsynmod-medium-r-*-*-15-*-*-*-*-*-*-1                                                        
!URxvt.boldFont: -misc-tamsynmod-bold-r-*-*-15-*-*-*-*-*-*-1
!URxvt.italicFont: -misc-tamsynmod-medium-r-*-*-15-*-*-*-*-*-*-1
!URxvt.boldItalicFont: -misc-tamsynmod-bold-r-*-*-15-*-*-*-*-*-*-1

!URxvt.font: -bitstream-bitstream vera sans mono-medium-r-*-*-14-*-*-*-*-*-iso10646-1
!URxvt.boldFont: -bitstream-bitstream vera sans mono-bold-r-*-*-14-*-*-*-*-*-iso10646-1
!URxvt.italicFont: -bitstream-bitstream vera sans mono-medium-o-*-*-14-*-*-*-*-*-iso10646-1
!URxvt.boldItalicFont: -bitstream-bitstream vera sans mono-bold-o-*-*-14-*-*-*-*-*-iso10646-1

!URxvt*font: -*-terminus-medium-r-*-*-14-*-*-*-*-*-iso10646-1
!URxvt*boldFont: -*-terminus-bold-r-*-*-14-*-*-*-*-*-iso10646-1
!URxvt*italicFont: -*-terminus-medium-r-*-*-14-*-*-*-*-*-iso10646-1
!URxvt*boldItalicFont: -*-terminus-bold-r-*-*-14-*-*-*-*-*-iso10646-1

!!!!!!!!!!!!!XTERM!!!!!!!!!!!!!!!!!!!
xterm*faceName: Bitstream vera sans mono
xterm*faceSize: 10
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

xterm.borderWidth: 0
!!!!!!!!!!!!!XTERM!!!!!!!!!!!!!!!!!!!

! Extensions
URxvt*perl-lib:        /usr/lib/urxvt/perl/

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb

xcalc*geometry: 200x275
xcalc.ti.bevel.background: #111111
xcalc.ti.bevel.screen.background: Green
xcalc.ti.bevel.screen.DEG.background: Green
xcalc.ti.bevel.screen.DEG.foreground: Black
xcalc.ti.bevel.screen.GRAD.background: Green
xcalc.ti.bevel.screen.GRAD.foreground: Black
xcalc.ti.bevel.screen.RAD.background: Green
xcalc.ti.bevel.screen.RAD.foreground: Black
xcalc.ti.bevel.screen.INV.background: Green
xcalc.ti.bevel.screen.INV.foreground: Red
xcalc.ti.bevel.screen.LCD.background: Green
xcalc.ti.bevel.screen.LCD.foreground: Black
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background: Green
xcalc.ti.bevel.screen.M.foreground: Black
xcalc.ti.bevel.screen.P.background: Green
xcalc.ti.bevel.screen.P.foreground: Black
xcalc.ti.Command.foreground: White
xcalc.ti.Command.background: black
xcalc.ti.button5.background: orange
xcalc.ti.button20.background: red
xcalc.ti.button25.background: red
xcalc.ti.button30.background: red
xcalc.ti.button35.background: red
xcalc.ti.button40.background: green
xcalc.ti.button22.background: blue
xcalc.ti.button23.background: blue
xcalc.ti.button24.background: blue
xcalc.ti.button27.background: blue
xcalc.ti.button28.background: blue
xcalc.ti.button29.background: blue
xcalc.ti.button32.background: blue
xcalc.ti.button33.background: blue
xcalc.ti.button34.background: blue
xcalc.ti.button37.background: blue
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             rectangle

!colors ripped from rezza: http://metawire.org/~rezza/index.php
!*foreground:     rgb:dddddd
!*background:     rgb:222222
!black
!*color0:         rgb:19/19/19
!*color8:         rgb:25/25/25
!!red
!*color1:         rgb:80/32/32
!*color9:         rgb:98/2b/2b
!!green
!*color2:         rgb:5b/76/2f
!*color10:        rgb:89/b8/3f
!!brownyellow
!*color3:         rgb:aa/99/43
!*color11:        rgb:ef/ef/60
!!blue
!*color4:         rgb:32/4c/80
!*color12:        rgb:2b/4f/98
!!magenta
!*color5:         rgb:70/6c/9a
!*color13:        rgb:82/6a/b1
!!cyan
!*color6:         rgb:92/b1/9e
!*color14:        rgb:a1/cd/cd
!!white
!*color7:         rgb:ff/ff/ff
!*color15:        rgb:dd/dd/dd

!black
!URxvt*color0:      #000000
!URxvt*color8:      #555753
!red
!URxvt*color1:      #CC0000
!URxvt*color9:      #EF2929
!green
!URxvt*color2:      #4E9A06
!URxvt*color10:     #8AE234
!yellow
!URxvt*color3:      #C4A000
!URxvt*color11:     #FCE94F
!blue
!URxvt*color4:      #3465A4
!URxvt*color12:     #729FCF
!magenta
!URxvt*color5:      #75507B
!URxvt*color13:     #AD7FA8
!cyan
!URxvt*color6:      #06989A
!URxvt*color14:     #34E2E2
!white
!URxvt*color7:      #D3D7CF
!URxvt*color15:     #ECEDEE

!!black
!*color0:    #252525
!*color8:    #454545
!!red
!*color1:     #FF9F95
!*color9:     #FF8D80
!!green
!*color2:    #A6E22E
!*color10:   #B6E354
!!yellow
!*color3:    #FD971F
!*color11:   #FD971F
!!blue
!*color4:    #435e87
!*color12:   #587aa4
!!magenta
!*color5:    #789ec6
!*color13:   #46a4ff
!!cyan
!*color6:    #5E7175
!*color14:   #A3BABF
!!white
!*color7:    #DBDCDC
!*color15:  #FDFDFD

!! Soft colors
!black
!URxvt*color0:           #111313
!URxvt*color8:           #424446
!red
!URxvt*color1:           #9e6b71
!URxvt*color9:           #b69094
!green
!URxvt*color2:           #719e6b
!URxvt*color10:          #94b690
!yellow
!URxvt*color3:           #9e986c
!URxvt*color11:          #b5b18f
!blue
!URxvt*color4:           #6c8b9e
!URxvt*color12:          #90a7b6
!magenta
!URxvt*color5:           #986b9e
!URxvt*color13:          #b290b6
!cyan
!URxvt*color6:           #6b9e98
!URxvt*color14:          #90b6b3
!white
!URxvt*color7:           #b8baba
!URxvt*color15:          #cdcfce

!Black
!URxvt*color0:           #3d3e3d
!URxvt*color8:           #5a5b5c
!Red
!URxvt*color1:           #755a5b
!URxvt*color9:           #a37679
!Green
!URxvt*color2:           #68755a
!URxvt*color10:          #87a376
!Yellow
!URxvt*color3:           #756e5a
!URxvt*color11:          #a39b76
!Blue
!URxvt*color4:           #5b6976
!URxvt*color12:          #758ba3
!Magenta
!URxvt*color5:           #755b76
!URxvt*color13:          #9f76a3
!Cyan
!URxvt*color6:           #5b7674
!URxvt*color14:          #75a3a1
!White
!URxvt*color7:           #808080
!URxvt*color15:          #aeafb0

*background:    #121212
*foreground:    #aaaaaa

! black
*color0:        #151515
*color8:        #666666

! red
*color1:        #ff005b
*color9:        #ff00a0

! green
*color2:        #cee318
*color10:       #ccff00

! yellow
*color3:        #ffe755
*color11:       #ff9f00

! blue
*color4:        #048ac7
*color12:       #48c6ff

! magenta
*color5:        #833c9f
*color13:       #be67e1

! cyan 
*color6:        #0ac1cd
*color14:       #63e7f0

! white
*color7:        #e4e4e4
*color15:       #f3f3f3

! Compile xft: Attempt to find a visual with the given bit depth; option -depth.
! URxvt*depth: bitdepth

! Compile xft: Turn on/off double-buffering for xft (default enabled).  On some card/driver combination
! URxvt*buffered: boolean

! Create the window with the specified X window geometry [default 80x24]; option -geometry.
! URxvt*geometry: geom

! Use the specified colour as the windows background colour [default White]; option -bg.
! URxvt*background: colour

! Use the specified colour as the windows foreground colour [default Black]; option -fg.
! URxvt*foreground: colour

! Use the specified colour for the colour value n, where 0-7 corresponds to low-intensity (normal) colours
! URxvt*colorn: colour

! 
! URxvt*colorBD: colour

! Use the specified colour to display bold or italic characters when the foreground colour is the default.
! URxvt*colorIT: colour

! Use the specified colour to display underlined characters when the foreground colour is the default.
! URxvt*colorUL: colour

! If set, use the specified colour as the colour for the underline itself. If unset, use the foreground
! URxvt*underlineColor: colour

! If set, use the specified colour as the background for highlighted characters. If unset, use reverse
! URxvt*highlightColor: colour

! If set and highlightColor is set, use the specified colour as the foreground for highlighted characters.
! URxvt*highlightTextColor: colour

! Use the specified colour for the cursor. The default is to use the foreground colour; option -cr.
! URxvt*cursorColor: colour

! Use the specified colour for the colour of the cursor text. For this to take effect, cursorColor must
! URxvt*cursorColor2: colour

! True: simulate reverse video by foreground and background colours; option -rv. False: regular screen
! URxvt*reverseVideo: boolean

! True: specify that jump scrolling should be used. When receiving lots of lines, urxvt will only scroll
! URxvt*jumpScroll: boolean

! True: (the default) specify that skip scrolling should be used. When receiving lots of lines, urxvt will
! URxvt*skipScroll: boolean

! Fade the text by the given percentage when focus is lost; option -fade.
! URxvt*fading: number

! Fade to this colour, when fading is used (see fading:). The default colour is black; option -fadecolor.
! URxvt*fadeColor: colour

! Set the application icon pixmap; option -icon.
! URxvt*iconFile: file

! Use the specified colour for the scrollbar [default #B2B2B2].
! URxvt*scrollColor: colour

! Use the specified colour for the scrollbars trough area [default #969696]. Only relevant for rxvt (non
! URxvt*troughColor: colour

! The colour of the border around the text area and between the scrollbar and the text.
! URxvt*borderColor: colour

! Select the fonts to be used. This is a comma separated list of font names that are checked in order when
! URxvt*font: fontlist

! URxvt*boldFont: fontlist

! 
! URxvt*italicFont: fontlist

! The font list to use for displaying bold, italic or bold italic characters, respectively.
! URxvt*boldItalicFont: fontlist

! When font styles are not enabled, or this option is enabled (True, option -is, the default), bold/blink
! URxvt*intensityStyles: boolean

! Set window title string, the default title is the command-line specified after the -e option, if any,
! URxvt*title: string

! Set the name used to label the windows icon or displayed in an icon manager window, it also sets the
! URxvt*iconName: string

! True: de-iconify (map) on receipt of a bell character. False: no de-iconify (map) on receipt of a bell
! URxvt*mapAlert: boolean

! True: set the urgency hint for the wm on receipt of a bell character.  False: do not set the urgency hint
! URxvt*urgentOnBell: boolean

! True: use visual bell on receipt of a bell character; option -vb.  False: no visual bell [default];
! URxvt*visualBell: boolean

! True: start as a login shell by prepending a - to argv[0] of the shell; option -ls. False: start as a
! URxvt*loginShell: boolean

! True: inhibit writing record into the system log file utmp; option -ut. False: write record into the
! URxvt*utmpInhibit: boolean

! Specify a command pipe for vt100 printer [default lpr(1)]. Use Print to initiate a screen dump to the
! URxvt*print-pipe: string

! Set scrollbar style to rxvt, plain, next or xterm. plain is the authors favourite.
! URxvt*scrollstyle: mode

! Set the scrollbar width in pixels.
! URxvt*thickness: number

! True: enable the scrollbar [default]; option -sb. False: disable the scrollbar; option +sb.
! URxvt*scrollBar: boolean

! True: place the scrollbar on the right of the window; option -sr.  False: place the scrollbar on the left
! URxvt*scrollBar_right: boolean

! True: display an rxvt scrollbar without a trough; option -st.  False: display an rxvt scrollbar with a
! URxvt*scrollBar_floating: boolean

! Align the top, bottom or centre [default] of the scrollbar thumb with the pointer on middle button
! URxvt*scrollBar_align: mode

! True: scroll to bottom when tty receives output; option -si.  False: do not scroll to bottom when tty
! URxvt*scrollTtyOutput: boolean

! True: scroll with scrollback buffer when tty receives new lines (i.e.  try to show the same lines) and
! URxvt*scrollWithBuffer: boolean

! True: scroll to bottom when a non-special key is pressed. Special keys are those which are intercepted by
! URxvt*scrollTtyKeypress: boolean

! Save number lines in the scrollback buffer [default 64]. This resource is limited on most machines to
! URxvt*saveLines: number

! Internal border of number pixels. This resource is limited to 100; option -b.
! URxvt*internalBorder: number

! External border of number pixels. This resource is limited to 100; option -w, -bw, -borderwidth.
! URxvt*externalBorder: number

! Set MWM hints to request a borderless window, i.e. if honoured by the WM, the rxvt-unicode window will
! URxvt*borderLess: boolean

! Compile frills: Disable the usage of the built-in block graphics/line drawing characters and just rely on
! URxvt*skipBuiltinGlyphs: boolean

! Specifies the terminal type name to be set in the TERM environment variable; option -tn.
! URxvt*termName: termname

! Specifies number of lines (pixel height) to insert between each row of the display [default 0]; option
! URxvt*lineSpace: number

! True: handle Meta (Alt) + keypress to set the 8th bit. False: handle Meta (Alt) + keypress as an escape
! URxvt*meta8: boolean

! True: the mouse wheel scrolls a page full. False: the mouse wheel scrolls five lines [default].
! URxvt*mouseWheelScrollPage: boolean

! True: store tabs as wide characters. False: interpret tabs as cursor movement only; option "-ptab".
! URxvt*pastableTabs: boolean

! True: blink the cursor. False: do not blink the cursor [default]; option -bc.
! URxvt*cursorBlink: boolean

! True: Make the cursor underlined. False: Make the cursor a box [default]; option -uc.
! URxvt*cursorUnderline: boolean

! True: blank the pointer when a key is pressed or after a set number of seconds of inactivity. False: the
! URxvt*pointerBlank: boolean

! Mouse pointer foreground colour.
! URxvt*pointerColor: colour

! Mouse pointer background colour.
! URxvt*pointerColor2: colour

! Specifies number of seconds before blanking the pointer [default 2]. Use a large number (e.g. 987654321)
! URxvt*pointerBlankDelay: number

! The string to send when the backspace key is pressed. If set to DEC or unset it will send Delete (code
! URxvt*backspacekey: string

! The string to send when the delete key (not the keypad delete key) is pressed. If unset it will send the
! URxvt*deletekey: string

! The characters used as delimiters for double-click word selection (whitespace delimiting is added
! URxvt*cutchars: string

! 
! URxvt*{|}

! OverTheSpot, OffTheSpot, Root; option -pt.
! URxvt*preeditType: style

! name of inputMethod to use; option -im.
! URxvt*inputMethod: name

! The locale to use for opening the IM. You can use an "LC_CTYPE" of e.g.  "de_DE.UTF-8" for normal text
! URxvt*imLocale: name

! Specify the font-set used for XIM styles "OverTheSpot" or "OffTheSpot". It must be a standard X font set
! URxvt*imFont: fontset

! Change the meaning of triple-click selection with the left mouse button. Instead of selecting a full line
! URxvt*tripleclickwords: boolean

! Enables "insecure" mode. Rxvt-unicode offers some escape sequences that echo arbitrary strings like the
! URxvt*insecure: boolean

! Set the key to be interpreted as the Meta key to: alt, meta, hyper, super, mod1, mod2, mod3, mod4, mod5;
! URxvt*modifier: modifier

! Specify the reply rxvt-unicode sends to the shell when an ENQ (control-E) character is passed through. It
! URxvt*answerbackString: string

! Turn on/off secondary screen (default enabled).
! URxvt*secondaryScreen: boolean

! Turn on/off secondary screen scroll (default enabled). If this option is enabled, scrolls on the
! URxvt*secondaryScroll: boolean

! Turn on/off hold window after exit support. If enabled, urxvt will not immediately destroy its window
! URxvt*hold: boolean

! Sets the working directory for the shell (or the command specified via -e). The path must be an absolute
! URxvt*chdir: path

! Compile frills: Associate string with keysym sym. The intervening resource name keysym. cannot be
! URxvt*keysym.sym: string

! URxvt*perl-ext-common: string

! Comma-separated list(s) of perl extension scripts (default: "default") to use in this terminal instance;
! URxvt*perl-ext: string

! Perl code to be evaluated when all extensions have been registered. See the urxvtperl(3) manpage.
! URxvt*perl-eval: string

! Colon-separated list of additional directories that hold extension scripts. When looking for perl
! URxvt*perl-lib: path

! Additional selection patterns, see the urxvtperl(3) manpage for details.
! URxvt*selection.pattern-idx: perl-regex

! Selection auto-transform patterns, see the urxvtperl(3) manpage for details.
! URxvt*selection-autotransform.idx: perl-transform

! Sets the hotkey that starts the incremental scrollback buffer search (default: "M-s").
! URxvt*searchable-scrollback: keysym

! Specifies the program to be started with a URL argument. Used by the "selection-popup" and "matcher" perl
! URxvt*url-launcher: string

! Compile frills: Sets the WM_TRANSIENT_FOR property to the given window id.
! URxvt*transient-for: windowid

! Compile frills: Sets override-redirect for the terminal window, making it almost invisible to window
! URxvt*override-redirect: boolean

! Turn on/off ISO 14755 (default enabled).
! URxvt*iso14755: boolean

! Turn on/off ISO 14755 5.2 mode (default enabled).
! URxvt*iso14755_52: boolean


